# Default ignored files
/shelf/
/workspace.xml

# Editor-based HTTP Client requests

/httpRequests/

# Datasource local storage ignored files
.vscode
.snyk
# .snykignore should be committed to help with Snyk bundle size
# .snykignore
composer.json
package.json
.dcignore
.DS_Store
/dataSources/
/dataSources.local.xml
.idea/
/debug/
# package.json is now needed for Snyk configuration
# package.json
CHANGELOG-ENTRY.md
CHANGELOG-GENERATOR.md
DEPLOYMENT-READINESS.md
DEPLOYMENT.md
GIT-COMMANDS.md
LOCAL-AI MODEL.md
includes/insights/DEFINITIONS.md
QUERIES.md
READINESS-REPORT.md
TESTS.md
TODO.md

# Ignore all files in the results folder
results/*
uploads/*
audio/*
transcripts/*
downloads/*
chatbot-logs/*
widget-logs/*
includes/transformers/sentential_embeddings_cache/*
includes/transformers/lexical_embeddings_cache/*

# Allow tracking of only the index.php file in the results folder
!results/index.php
!uploads/index.php
!audio/index.php
!transcripts/index.php
!downloads/index.php
!chatbot-logs/index.php
!widget-logs/index.php
!includes/transformers/sentential_embeddings_cache/index.php

# Ignore specific files
includes/transformers/sentential_embeddings_cache.php
includes/transformers/lexical_embeddings_cache.php
includes/tools/test-jan-ai.php

# Ignore compressed cache files
*.gz
*.ser
*.old

# Ignore third-party vendor libraries
# vendor/


